*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(205,100,155,0.8484185910692402) 41%, rgba(0,212,255,1) 100%);
}
